* {
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 192px);
}

.wrapper > div {
    border: 1px solid black;
}

.dashboard {
    background-color: #1992d4;
    grid-area: 1 / 1 / 6 / 2;
}

.dashboard-wrapper {
    padding-top: 30px;
    padding-left: 30px;
}

.dashboard-wrapper > div {
    color: #241919;
}

.icon-big {
    height: 60px;
    padding-right: 10px;
}

.dashboard-item-big {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.dashboard-item-big>a{
    text-decoration: none;
    font-size: 2.5rem;
    color: #241919;
    font-weight: bolder;
}

.dashboard-item-small {
    display: flex;
    align-items: center;
    padding: 10px;
}

.dashboard-item-small>a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #241919;
    font-weight: bolder;
}

.icon-small {
    height:40px;
    padding-right: 10px;;
}

.dash-upper {
    margin-bottom: 80px;
}

.header {
    grid-area: 1 / 2 / 2 / 6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 100px);
}

.header>div {
    border: 1px solid black;
}

.search-bar {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mag-glass {
    height: 2.3rem;
    padding-left: 40px;
    padding-right: 20px;
}

.search-box {
    height: 2.3rem;
    width: 800px;
    background-color: #e2e8f0;
    border-style: none;
    border-radius: 20px;
}

.search-box:focus {
    border: 1px solid blue;
}

.avatar {
    grid-area: 2 / 1 / 5 / 3;
    display: flex;
    padding-left: 40px;
}

.avatar>img {
    height: 80px;
    border-radius: 50%;
}

.avatar-greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.hi {
    font-size: 16px;
    font-weight: bolder;
}

.name {
    font-size: 32px;
    font-weight: bolder;
}

.right-upper {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;  
    align-items: center;  
}

.bell-icon {
    height: 30px;
    margin-left: 30px;
}

.avatar-small {
    height: 50px;
    border-radius: 50%; 
    margin-left: 30px;
}

.name-small {
    text-decoration: none;
    color:#241919;
    margin-left: 40px;
    font-size: 24px;
    font-weight: bold;
}

.right-lower {
    grid-area: 2 / 3 / 5 / 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-header {
    height: 2.5rem;
    width: 6.5rem;
    border: none;
    color:white;
    background-color: #1992d4;
    font-size: large;
    font-weight: bolder;
    border-radius: 25px;
}

.projects {
    grid-area: 2 / 2 / 6 / 5;
    background-color: azure;
}

.right-side {
    grid-area: 2 / 5 / 6 / 6; 
}